<footer class="footer">
  <div class="footer__container container grid">
    <a href="" class="footer__logo">
      <img src="assets/img/logo.webp" alt="image" />
      <span>GlobeTrek</span>
    </a>

    <div class="footer__content grid">
      <div>
        <h3 class="footer__title">About Us</h3>
        <ul class="footer__links">
          <li>
            <a href="#" class="footer__link">About</a>
          </li>
          <li>
            <a href="#" class="footer__link">Features</a>
          </li>
          <li>
            <a href="#" class="footer__link">News & Blogs</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="footer__title">Contact</h3>
        <ul class="footer__links">
          <li>
            <a href="#" class="footer__link">Call Center</a>
          </li>
          <li>
            <a href="#" class="footer__link">Support</a>
          </li>
          <li>
            <a href="#" class="footer__link">Contact Us</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="footer__title">Support</h3>
        <ul class="footer__links">
          <li>
            <a href="#" class="footer__link">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="footer__link">Terms & Services</a>
          </li>
          <li>
            <a href="#" class="footer__link">Payments</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="footer__title">Social</h3>
        <div class="footer__social">
          <a href="https://www.facebook.com/" class="footer__social-link">
            <i class="ri-facebook-circle-fill"></i>
          </a>
          <a href="https://www.instagram.com/" class="footer__social-link">
            <i class="ri-instagram-fill"></i>
          </a>
          <a href="https://twitter.com/" class="footer__social-link">
            <i class="ri-twitter-x-fill"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <span class="footer__copy">
    <p class="footer__copy">&copy; 2025 <a href="https://github.com/sebai-dhia" target="_blank">Dhia</a>. All rights reserved.</p>
  </span>
</footer>
