<header class="header" id="header">
  <nav class="nav container">
    <a routerLink="/" class="nav__logo" (click)="onNavClick('home')">
      <img src="assets/img/logo.webp" alt="logo" />
      <span>GlobeTrek</span>
    </a>

    <div class="nav__menu" [class.show-menu]="menuVisible" id="nav-menu">
      <ul class="nav__list">
        <li>
          <a href="#home" class="nav__link" (click)="onNavClick('home')">Home</a>
        </li>
        <li>
          <a href="#destination" class="nav__link" (click)="onNavClick('destination')">Destination</a>
        </li>
        <li>
          <a href="#testimonials" class="nav__link" (click)="onNavClick('testimonials')">Testimonials</a>
        </li>
        <li>
          <a href="#gallery" class="nav__link" (click)="onNavClick('gallery')">Gallery</a>
        </li>
        <li>
          <a href="#contact" class="nav__link" (click)="onNavClick('contact')">Contact</a>
        </li>
      </ul>

      <!-- Close Button -->
      <div class="nav__close" (click)="closeMenu()" id="nav-close">
        <i class="ri-close-large-line"></i>
      </div>
    </div>

    <div class="nav__buttons">
      <!-- Theme Button -->
      <i [class]="isDarkTheme ? 'ri-sun-fill nav__theme' : 'ri-moon-fill nav__theme'" (click)="toggleTheme()" id="theme-button"></i>

      <!-- Toggle Button -->
      <div class="nav__toggle" (click)="openMenu()" id="nav-toggle">
        <i class="ri-apps-2-fill"></i>
      </div>
    </div>
  </nav>
</header>
