/*=============== SCROLL UP ===============*/
.scroll__up{
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: var(--body-color);
  box-shadow: 0 8px 16px hsla(0, 0%, 0%, .1);
  color: var(--title-color);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, background-color .4s, transform .4s;
}

.scroll__up:hover{
  transform: translateY(-.5rem);
}

.show-scroll{
  bottom: 3rem;
}
@media screen and (min-width: 1150px){
  .scroll__up{
    right: 3rem;
    font-size: var(--h2-font-size);
    padding: 8px;
  }
}
